[submodule "flappy-donkey"]
	path = flappy-donkey
	url = https://github.com/davelet/flappy-donkey
[submodule "json-picker"]
	path = json-picker
	url = https://github.com/davelet/json-picker
[submodule "rust-lession-one"]
	path = rust-lession-one
	url = https://github.com/davelet/rust-lession-one
	branch = lession
[submodule "dungeon-donkey"]
	path = dungeon-donkey
	url = https://github.com/davelet/dungeon-donkey
	branch = develop-ecs
[submodule "rough-blockchain-rustlang"]
	path = rough-blockchain-rustlang
	url = https://github.com/davelet/rough-blockchain-rustlang
[submodule "shecat"]
	path = shecat
	url = https://github.com/davelet/shecat.git
